In [1]:
import joblib
import pandas as pd
import numpy as np
import pickle
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
sbert_model=joblib.load('sbert.pkl')

In [2]:
with open('resume_embeds.pkl', 'rb') as f:
    df = pickle.load(f)

In [3]:
df.reset_index(drop=True)

,path,skills,skill_embeds
0,1658079681931_vishakha mnc - vishakha gavali.pdf,"c, dbms, deeplearning, machinelearning, python","[0.25789058, 0.5921148, 1.0721953, 0.19453761,..."
1,aamir final resumee - Mohammad Aamir RANGREZ.pdf,"c, css, html, python, qgis","[-0.19229881, 0.5531262, 0.9522836, -0.1977647..."
2,Abdullah cv - Abdullah Siddiqui.pdf,"c, css, html, problemsolving, projectmanagemen...","[-0.14268066, 0.9671037, 1.0965852, 0.06174927..."
3,adinath1115 - Adinath Waikar.pdf,"aws, c, css, cybersecurity, html, java, js, li...","[-0.22907965, 0.8314217, 0.99965096, 0.0735563..."
4,aditya5pille - adityapachpille 2001.pdf,"css, html, java, sql","[-0.4109157, 1.0009983, 0.8635198, -0.3452646,..."
...,...,...,...
189,Vishal Resume - 32_VISHAL MALI.pdf,"blockchain, css, html, java, machinelearning","[-0.13953543, 1.0605905, 0.7211091, -0.4618585..."
190,Waikar111 - Adinath Waikar.pdf,"azure, linux, networking, problemsolving","[-0.36711675, 0.14001499, 1.2475933, 0.2292047..."
191,Wallabh_umrekar_8999194176 - Wallabh Umrekar.pdf,"c, problemsolving","[-0.540127, -0.19692458, 2.173615, 0.36607677,..."
192,YASH_P_SAWANT - YASH SAWANT.pdf,"c, css, html, java, python","[-0.35289368, 0.67449784, 0.69077635, -0.37758..."
193,_CV_Aayush (2) - Aayush Shinde.pdf,"datascience, machinelearning, oracle, python, sql","[0.07327471, 0.7823046, 0.6664243, 0.03849768,..."

In [4]:
#input by user

JD_skills='java, html, css, javascript, node.js'
jd_embeds=sbert_model.encode(JD_skills)

In [ ]:
d

In [5]:
df[(cosine_similarity(list(df['skill_embeds']),[jd_embeds])>0.850)]

,path,skills,skill_embeds
1,aamir final resumee - Mohammad Aamir RANGREZ.pdf,"c, css, html, python, qgis","[-0.19229881, 0.5531262, 0.9522836, -0.1977647..."
4,aditya5pille - adityapachpille 2001.pdf,"css, html, java, sql","[-0.4109157, 1.0009983, 0.8635198, -0.3452646,..."
6,AishwaryaPalkar_Resume - Palkar Aishwarya.pdf,"c, css, html, python","[-0.33429757, 0.49230385, 0.9719597, -0.236110..."
9,Akanksha_Resume - ITB754 Akanksha Vishwakarma.pdf,"c, css, html, java, problemsolving, python, r","[-0.40102598, 0.7346635, 0.88584536, -0.209673..."
11,AkashNithish-CCBP-4.0-RESUME - Akash Nithish.pdf,"css, databases, git, html, javascript, js, nod...","[-0.1986857, 0.7040217, 1.05952, -0.18075354, ..."
...,...,...,...
180,Vaibhavi Patil Resume - 54 VAIBHAVI PATIL.pdf,"c, django, html, javascript, python","[-0.29724005, 0.70320034, 0.79486936, -0.35120..."
184,VikasDesale_CV - Vikas Desale.pdf,"css, html, java, javascript, oracle, sql","[-0.113054864, 1.1816056, 0.8372373, -0.342507..."
188,Vipul_Yadav_9137790849 - Vipul Yadav.pdf,"css, databases, expressjs, html, javascript, j...","[-0.33044806, 0.6940072, 0.99063855, -0.295671..."
189,Vishal Resume - 32_VISHAL MALI.pdf,"blockchain, css, html, java, machinelearning","[-0.13953543, 1.0605905, 0.7211091, -0.4618585..."
192,YASH_P_SAWANT - YASH SAWANT.pdf,"c, css, html, java, python","[-0.35289368, 0.67449784, 0.69077635, -0.37758..."

In [36]:
df['skills'][0]

'c, dbms, deeplearning, machinelearning, python'